{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<div class="card post">


    <f:if condition="{post.featuredImage}">
        <blogvh:link.post post="{post}" class="postlist__featuredimage" additionalAttributes="{aria-hidden: 'true'}" tabindex="-1">
            <f:render partial="General/FeaturedImage" arguments="{image: post.featuredImage, settings: settings.lists.featuredImage}" />
        </blogvh:link.post>
    </f:if>

    <div class="card-body">
        <h2 class="card-title" itemprop="name">
            <blogvh:link.post post="{post}" />
        </h2>
        <p class="list-meta small">
            <f:render partial="Meta/ListHeader" arguments="{_all}" />
        </p>
        <f:if condition="{post.abstract}">
            <f:then>
                <p class="card-text" itemprop="description">{post.abstract}</p>
            </f:then>
            <f:else>
                <p class="card-text" itemprop="description">{post.description}</p>
            </f:else>
        </f:if>
        <f:render partial="Meta/ListFooter" arguments="{_all}" />
        <blog:link.post post="{post}">mehr...</blog:link.post>
    </div>
</div>

