<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      data-namespace-typo3-fluid="true">
{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Default" />
<f:section name="Border">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}" />

</f:section>
<f:section name="Main">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '8'}" />
    <div class="section section-default">
        <div class="container">
            <div class="section-row">
                <main class="section-column maincontent-wrap blog-post" role="main">
                    <f:cObject typoscriptObjectPath="tt_content.list.20.blog_metadata"/>
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
                    <div class="mb-5">
                        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_comments"/>
                    </div>
                    <div class="mb-5">
                        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_commentform" />
                    </div>
                    <div class="mb-5">
                        <h4>Share</h4>
                        <rx:shariff data="{url: '{f:uri.page}', theme: 'grey'}" services="facebook,twitter,reddit,whatsapp,mail" enableBackend="true"/>
                    </div>

                </main>
                <div class="section-column subcontent-wrap">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}" />
                    <div class="frame frame-default frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
                        <div class="frame-container">
                            <div class="frame-inner">
                                <f:cObject typoscriptObjectPath="tt_content.list.20.blog_sidebar" />
                            </div>
                        </div>
                    </div>
                    <div class="frame frame-default frame-type-social_links frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
                        <div class="frame-container">
                            <div class="frame-inner">
                                <header class="frame-header">
                                    <h4 class="element-header">Follow me</h4>
                                </header>
                                <f:render partial="Structure/SocialLinks" arguments="{_all}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '9'}" />

</f:section>
<f:section name="Footer">

    <f:render partial="Structure/FooterContent" arguments="{_all}" />

</f:section>
</html>
