//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
//@import "../../../../../../public/typo3conf/ext/bootstrap_package/Resources/Public/Scss/Theme/theme";
//@import "../../../../../../public/typo3conf/ext/skom_sitepackage/Resources/Public/Scss/Theme/theme";

//
// Components
//
@import "backendlayouts";


//
// Blog
//
.blog-post {
    .entry-meta {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }
    .frame {
        padding-top: 0;
    }
}
.tx-blog-widget {
    margin-bottom: 2rem;
}
.list-meta {
    margin-bottom: 0.5rem;
}

.card-deck .card {
    margin-bottom: $card-deck-margin*2;
}
.frame-background-primary {
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $white;
    }
}

